@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Jost;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-snap-type: y mandatory;
}

div {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  
  display: flex;
  align-items: center;
  justify-content: center;
}