@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Jost;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#div {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  
  display: flex;
  align-items: center;
}